body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/* intro section styles */

#intro {
	font-family: segoe ui, sans-serif;
	max-width: 800px;
	margin: 52px auto 0;
	padding: 20px 12px 30px;
	box-sizing: content-box;
}

#intro h2 {
	font-weight: 400;
	font-size: 1.8em;
}

#intro h2:nth-of-type(1) {
	margin: 10px 0;
	font-weight: lighter;
}

#intro h2:nth-of-type(2) {
	margin: 0 0 25px;
	font-weight: 400;
}

#intro h1 {
	font-size: 2.5em;
}

#intro em {
	color: #8a2be2;
}

a.resume {
	float: right;
	text-decoration: none;
	color: #8a2be2;
	padding: 12px;
	border: 1px solid #8a2be2;
	margin-top: -43px;
}

.socials a {
	text-decoration: none;
}

.socials a svg {
	width: 30px;
	height: 30px;
	fill: #8a2be2;
	margin: 9px 35px 0 0;
}


@media screen and (max-width: 700px) {
	#intro {
		padding-bottom: 60px;
		margin-top: 12px;
	}

	#intro h2 {
		font-size: 1.2em;
		text-align: center;
	}

	#intro h1 {
		text-align: center;
	}

	#intro h2:nth-of-type(2) {
		margin: 0 0 15px;
	}

	#intro h2:nth-of-type(1) {
		font-weight: lighter;
	}

	#intro h1 {
		font-size: 2em;
	}

	a.resume {
		float: none;
		display: block;
		border: none;
		border-bottom: 1px dotted #8a2be2;
		font-size: inherit;
		font-style: italic;
		padding: 0;
		font-weight: lighter;
		margin: 0 auto;
		width: 150px;
		text-align: center;
	}

	.socials {
		margin: 0 auto;
		width: 150px;
		display: flex;
		justify-content: space-between;
	}

	.socials a svg {
		width: 20px;
		height: 20px;
		margin: 0 0 9px 0;
	}
}

/* about sections styles */

#about {
	padding-bottom: 10px;
}

#about p {
	font-size: 1.2em;
	line-height: 1.7;
	font-weight: lighter;
}

@media screen and (max-width: 700px) {
	#about p {
		font-size: .8em;
	}
}

/* project section styles */

#projects > div {
	display: flex;;
	flex-wrap: wrap;
	justify-content: space-between;
}

#projects .title {
	margin-bottom: 30px;
}

.project {
	width: 350px;
	display: flex;
	flex-direction: column;
	margin-bottom: 33px;
}

.project .image {
	width: inherit;
	height: 200px;
}

.project .details {
	width: inherit;
	box-sizing: border-box;
	padding: 10px;
}

.project .github {
	width: 25px;
	height: 25px;
	fill: #8a2be2;
	margin: 20px 0 0;
}

.project .link {
	width: 25px;
	height: 25px;
	fill: #8a2be2;
	margin: 20px 0 0;
	float: right;
}

@media screen and (max-width: 700px) {
	.project {
		width: 100%;
	}

	.project .image {
		height: 150px;
	}

	.project .details h3 {
		font-size: 1.15em;
		text-align: center;
		margin-bottom: 7px;
	}

	.project .details p {
		font-weight: lighter;
		text-align: center;
	}
}

/* contact section styles */

#contact {
	padding-bottom: 30px;
}

#contact a {
	text-decoration: none;
	color: #8a2be2;
}

#contact a:hover {
	text-decoration: underline;
}

/* misc. styles */

.title {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 1.8em;
	border-bottom: 2px dotted #8a2be2;
	display: inline-block;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 15px;
	box-sizing: content-box;
	font-family: segoe ui, sans-serif;
}

.theme-switch {
	position: fixed;
	top: calc(50% - 60px);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	height: 60px;
	width: 70px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.title {
		font-size: 1.3em;
	}

	.theme-switch {
		position: static;
	}
}